/* public/components/footer.css */

.footer {
  background-color: #1e1e1e;
  color: #f1f1f1;
  padding: 20px 10px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  border-top: 3px solid #d00000;
}

.footer-content h2 {
  margin: 0;
  font-size: 20px;
  color: #f71b1b;
}

.footer-content p {
  margin: 5px 0 15px;
  font-size: 14px;
  color: #ccc;
}

.footer-links {
  margin-bottom: 15px;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #00d084;
}

.footer p:last-of-type {
  font-size: 12px;
  color: #777;
  margin-top: 10px;
}
