.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
}

.panel {
    background: #ffffff;
    padding: 20px;
    margin: 20px;
    border: 2px solid #ccc;
}

.oculto {
    display: none;
}

#catalogo, #carrito {
    background: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

.producto {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    background: #f9f9f9;
    border-radius: 5px;
}

.producto h3 {
    margin: 0 0 10px;
}
